<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <a th:href="@{/menu/7}">7번 메뉴 상세 조회</a> <br> <!-- /menu/detail.html 로 이동 -->
  <a th:href="@{/menu/list}">전체 메뉴 목록 조회</a> <br>

  <a th:href="@{/menu/regist}">메뉴 등록하기</a> <br>
  <a th:href="@{/menu/modify(code=7)}">7번 메뉴 수정하기</a> <br>
  <a th:href="@{/menu/remove(code=20)}">20번 메뉴 삭제하기</a> <br><br>

  <a th:href="@{/menu/search(type=price,query=10000)}">가격 검색</a> <br>
  <a th:href="@{/menu/search(type=name,query=마늘)}">메뉴명 키워드 검색</a> <br>
  <a th:href="@{/menu/search(type=both,query=10000,query=마늘)}">둘 다 검색</a>




</body>
</html>